<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzzde.game.springboot.my.mutile.mybatis.plus.dao.master.UserDao">

    <select id="testQuery" resultType="com.zzzde.game.springboot.my.mutile.mybatis.plus.entity.User">
        select * from user
    </select>
</mapper>
